* {
    letter-spacing: 1.15px;
    box-sizing: border-box;
    font-family: 'Montserrat' !important;
}

div {
    display: block;
}

html {
    background-color: #263144 !important;
    height: 100vh;
    color: white !important;
}

p {
    color: white;
}

.columns {
    margin: 0 !important;
}

#hero {
    margin-top: 5vw !important;
}

#inputAmount,
#outputAmount {
    background: #e8e8e8;
}
